.bookSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4em;
}

.bookSection h1 {
  color: #feffff;
  margin: 1em;
  font-size: 2em;
}

.booksForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #17252A;
  padding: 2em;
  border-radius: 5px;
  width: 400px;
  height: auto;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.6);
}

.addBook {
  padding: .7em;
  font-size: large;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: ease .3s;
  margin-top: 2em;
}

.addBook:hover {
  background-color: #2b7a77;
}