.container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
  /* border: solid red; */
}

.min-height {
  min-height: 90%;
}

.start {
  justify-content: flex-start;
}
