.bookContainer {
  padding: 3em 1em;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.titleContainer h1 {
  font-size: 2.5rem;
  font-weight: bold;
  background-color: #2E8B8B;
  padding: .1em;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, .3) 0px 3px 5px;
}

.titleContainer h1 span {
  font-size: 2.5rem;
  font-weight: bold;
  color: #def2f1;
}

.books {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 2px solid #f3f3f3;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.book {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1em 2em;
  text-align: center;
  margin: 1em;
  width: 350px;
  min-height: 350px;
  height: fit-content;
  background-color: #f3f3f3;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.book:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.book img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 6px;
}

.book h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.5em 0;
  color: #17252a; /* Darker shade for readability */
}

.book p {
  font-style: italic;
  color: #2E8B8B;
}

.downTitle {
  font-size: 2.5rem;
  font-weight: bold;
  color: #def2f1;
  background-color: #2E8B8B;
  padding: .4em;
  border-radius: 5px;
}

